[submodule "OmpSs/nanox"]
	path = OmpSs/nanox
	url = https://github.com/TANGO-Project/nanox.git
[submodule "OmpSs/mcxx"]
	path = OmpSs/mcxx
	url = https://github.com/TANGO-Project/mcxx.git
[submodule "COMPSs"]
	path = COMPSs
	url = https://github.com/TANGO-Project/compss.git
